.desktopWarning {
  display: none;
  background: hsl(0, 89%, 56%);
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: white;
}


@media screen and (min-width: 426px) {
  .desktopWarning {
    display: block;
  }
}