
.hourlyGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.circleFrame {
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--secondary);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempNumber {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding-left: .3rem;
}
