.searchBarContainer {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    background-color: var(--opacity-55);
}

input {
   border: none;
    background-color: transparent;
    width: 100%;
    height: 100%; 
    display: flex;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0 0 0 2rem;
    outline: none; 
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 1rem;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
}
