.bgImage {
    background-image: url("../assets/images/Rainy.png");
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.infoContainer {
    position: relative;
    height: 18rem;
}

.topInfo {
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding: 1.5rem;
    position: relative;
}

.tempNumber {
    font-size: 4.6rem;
    color: var(--opacity-92);
    font-weight: 550;
}

.superScript {
    color: var(--opacity-92);
    font-size: 2.2rem;
    vertical-align: super;
}

.feelsLike {
    color: var(--opacity-55);
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
}

.feelsLike > .superScript {
    color: var(--opacity-55);
    font-size: .9rem;
    
}

.bottomLine {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: var(--opacity-92);
    font-size: 1.2rem;
    padding: .8rem 0 1rem 0;
}
