.container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    transform: translateY(-4.5rem);
    z-index: 5;
}

.roundedBox {
    background-color: var(--primary-light);
    border-radius: 3.5rem 3.5rem 0 0;
    padding: 2rem 1rem;
    height: 100%;
}

.detailTitle {
    font-size: 1rem;
    padding: 0 1.2rem;
}

.hourlyFrame {
    color: var(--primary-dark);
    display: flex;
    justify-content: space-around;
    padding: .3rem;
    margin: 1rem 0;
    border: solid 1px var(--secondary);
    border-radius: 1.5rem;
    font-weight: 400;
    font-size: .9rem;
}

.statsFrame {
    color: var(--primary-dark);
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    font-weight: 400;
    font-size: .9rem;
    border: solid 1px var(--secondary);
}