:root {

  --primary-light: #FFFFFF;
  --primary-dark: #4B4B4B;
  --secondary: #F0F0F0;
  --accent-orange: #F5A10C;
  --accent-blue: #50A9DE;
  --opacity-92: rgba(255, 255, 255, 0.90);
  --opacity-55: rgba(255, 255, 255, 0.55);

  --max-content-width: 1280px;
  --page-padding: 2rem;
}

body, html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 425px;
    padding: 1rem 2rem;
  }
  
  
}





